body {
  font-family: Helvetica, sans-serif;
  background-color: #353532;
  color: antiquewhite;
}

.bg-purple {
  background-color: #310a5d;
}

.breadcrumb {
  background-color: #353532 !important;
  color: white !important;
}

.jumbotron {
  background-size: cover;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 0;
}

.jumbotron .h1 {
  text-align: center;
}

.theme-toggle {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: white !important;
}

@media screen and (max-width: 600px) {
  .theme-toggle {
    font-size: 16px;
  }
}

.text-responsive {
  font-size: calc(100% + 1.25vw + 2vh);
  text-align: center;
}

.container {
  width: 100%;
}

.img-center {
  margin: 0 auto;
}

.fa-cog {
  color: #5f3cac;
}

form {
  background-color: #353532 i !important;
}

.card {
  background-color: #353532;
}

.site-footer {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#310a5d), to(#2a2438));
  background-image: linear-gradient(#310a5d, #2a2438);
  padding: 20px 0;
}

.socialMediaLinks a {
  font-size: 20px;
  margin: 0 10px 0 0;
  color: #000000;
  text-decoration: none;
  background: #d3d2d2;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50px;
  border-radius: 50%;
  text-align: center;
}

.socialMediaLinks a:hover {
  background-color: #352f44;
}

.socialMediaLinks .fa-instagram {
  color: sienna;
}

.socialMediaLinks .fa-facebook-f {
  color: blue;
}

.socialMediaLinks .fa-twitter {
  color: #53a0be;
}

.socialMediaLinks .fa-linkedin {
  color: #1e1efd;
}
