.bg-purple {
  background-color: rebeccapurple;
}

.jumbotron {
  background-size: cover;
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
}

.jumbotron .h1 {
  text-align: center;
}

.container {
  width: 100%;
}
